{{ ansible_managed }}
{% if resolv_conf_search %}
search {% for domain in resolv_conf_search %}
{{domain}}
{%- if not loop.last %} {% endif %}
{% endfor %}{{''}}
{% endif %}
{% for server in resolv_conf_nameservers %}
nameserver {{ server }}
{% endfor %}
